$header-height: 42px;

.feed {
	width: 100%;
	@include calc(height, '100% - ' + $header-height);
	overflow-y: scroll;
}

.feed-header {
	display: flex;
	align-items: center;
	justify-content: flex-end;

	height: $header-height;
	//margin: 0.5em 0;
	padding: 0 1em;

	background: $color-black;
	color: $color-white;

	box-sizing: border-box;
}

.results-search-form {
	float: right;
}