html {
	font-size: 8px;
}

body {
	font: 400 1.4rem/1.5 'Roboto', sans-serif;
	color: $color-black;
}


a:hover,
a:active,
a:focus {
	text-decoration: none;
}

.app-container {
	overflow: hidden;
}

.view-wrapper {
	width: 100%;
	height: 100%;
}

@media screen and (min-width: $media-break-tablet) {
	html {font-size: 10px;}
}