$color-white: #FFFFFF;
$color-white-muted: #F7F7F7;

$color-black: #444444;
$color-grey: #999999;
$color-lightGrey: #dfdfdf;


// Dimensions

$media-break-tablet: 800px;
$media-break-mobile: 640px;



