
<div class="feed-item" ng-repeat="item in items">
    <div class="feed-item-thumbnail-wrapper">
        <img class="feed-item-thumbnail" src="{{ item.media.m }}" alt="{{ item.title }}"/>
    </div>
    <div class="feed-item-body">
        <div class="feed-item-body-title">
            {{ item.title }}
        </div>

        <div class="feed-item-body-meta">
            <span class="timestamp">Published: {{ item.published | date:'longDate' }} at {{ item.published | date:'shortTime' }}</span>
            <a class="author-link" href="http://www.flickr.com/people/{{ item.author_id }}">Photo
            Author</a>
            <a class="photo-link" href="{{ item.link }}">View on Flickr</a>
        </div>
    </div>
</div>
